.statusvideo{
    flex: 0.7;
    display: flex;
    flex-direction: column;
}
.statusvideo__header{
    display: flex;
justify-content:space-between;
align-items: center;
padding: 10px;
}
.statusvideo__back{
    color: white !important;
    cursor: pointer;
}
.statusvideo__close{
    color: white !important;
    cursor: pointer;
}
.statusvideo__withoutvideo{
    flex: 1;
    display: grid;
    place-items: center;

}
.statusvideo__video{
    flex: 1;
}

.statusvideo__videoimage{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position:relative;
    
}
.statusvideo__timer{
    position: absolute;
    top: 0;
    right: 5px;
    display: none;
}
.statusvideo__videoimage > img {
    width: 100%;
    height:100%;
    object-fit: contain;
}




.statusvideo__center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statusvideo__withoutvideo > .statusvideo__center > h3{
    line-height: 24px;
    text-align: center;
    color: gray;
    font-weight: 400;
}
.statusvideo__donuticon{
    color: gray !important;
    font-size: 120px !important;
    margin-bottom: 40px;
    
}
/* .statusvideo__progress{
   
    

} */
.statusvideo__progress .MuiLinearProgress-colorPrimary{
    background-color:#D6DBD9  !important;
}
.statusvideo__progress .MuiLinearProgress-barColorPrimary{
    background-color: #009688 !important;
}
